<legend>
    <div class="row">
        <div class="col-md-12">

            <div class="form-horizontal">

                <div class="form-group">

                    <div class="col-md-10">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <div id="content-chk">

                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-4 offset-md-2">
                            <textarea class="form-control textarea" id="Observacion" name="Observacion" rows="4" disabled></textarea>
                        </div>
                        <div class="col-md-2 ">
                            <button type="button" class="btn btn-success" onclick="Save()" id="btnm">Guardar</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <input type="text" id="Idestado" hidden value="" />


</legend>