@model IEnumerable<WebApplication1.@base.modelo>
@{
    ViewBag.Title = "Mardis";
}
@{

}
@if (Model != null)
{
    if (Model.Count() > 0) {
    <div>
        <h1>  @Model.First().name </h1>
        <br>
    </div>
    <div>
        <h1>Codigo: <small> @Model.First().Code </small></h1>
        <hr />
    </div>
    }
    else
    {
        <div>
            <h1>No existen fotos</h1>
        <hr />
        </div>
    }
}
else
{
    <div>
        <h1>No existen fotos</h1>
        <hr />
    </div>
}
<div class="container">
@if (Model != null)
{
    foreach (var item in Model)
    {


        <div class="col col-md-4 offset-md-1">
            <img src=" @item.base64" class="imgM" id=@item.nameImg onclick="image(this)" />
            <label class="text-id">@item.nameImg</label>
        </div>


    }
}

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<script>

    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
  /*  img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }*/

    function image(e) {
        modal.style.display = "block";
        modalImg.src = e.src;
        captionText.innerHTML = e.alt;

    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>